[submodule "bmmr-t1w-250um"]
	path = bmmr-t1w-250um
	url = https://github.com/datalad-datasets/bmmr-t1w-250um
	datalad-id = c8339e6a-502f-11e8-b2ed-a0369fb55db0
	datalad-url = https://github.com/datalad-datasets/bmmr-t1w-250um
[submodule "longnow-podcasts"]
	path = longnow-podcasts
	url = https://github.com/datalad-datasets/longnow-podcasts
	datalad-id = b3ca2718-8901-11e8-99aa-a0369f7c647e
	datalad-url = https://github.com/datalad-datasets/longnow-podcasts
